# Python for Data Science
## Session 6
### Datasets â€“ Pandas I

---

## Outline

1. Pandas

2. Loading and exploring datasets 

3. Data cleaning and preprocessing with Pandas

---

## Pandas I

**Pandas** is one of the most used libraries within the Data Science community. It provides a full set of tools to work with:
- 2D data via DataFrame class
    - SQL/Spreadsheet-like datasets (tabular data)
    - Arbitrary matrix data with row and column labels
    - Any type of dataset with observational / statistical data (no labels needed)
- 1D data via Series class
    - Time series data

## Pandas I

As one can see, from the type of datasets **Pandas** can handle, most of the use cases found in Data Science are covered, e.g. finance, health, biology, supply chain, or meteorology. Things **Pandas** do:

1. Handling missing data
2. Change DataFrame size, adding and removing columns and rows at will
3. Automatic data alignment of misaligned data
4. Group by operation
5. Data conversion
6. Advanced indexing
7. Data Merging and joining 
8. Reshaping data
9. Hierarchical indexing
10. Read/write support for CSV, Excel, databases, and fast HDF5 format.
11. Time series manipulation, frequency convertion, window moving statistics

## Pandas I

Let's create a few dataframes using different data structures and see how to start navigating them

In [10]:
## Let's create a simple DataFrame to work with
import pandas as pd
dataset = [
    {
        "name": "Amelie",
        "age": 35
    },
    {
        "name": "Edgar",
        "age": 32
    }
]
df = pd.DataFrame(dataset)
df

     name  age
0  Amelie   35
1   Edgar   32

In [11]:
# Using a slightly different data struture
data = {'Name': ['Amelie', 'Edgar', 'Carlos', 'Victor'],
        'Age': [24, 27, 22, 32],
        'Country': ['FR', 'FR', 'ES', 'GE']}
df = pd.DataFrame(data)
df

     Name  Age Country
0  Amelie   24      FR
1   Edgar   27      FR
2  Carlos   22      ES
3  Victor   32      GE

In [12]:
# we can quickly visualize all the columns a dataframe contains by simply
df.columns

Index(['Name', 'Age', 'Country'], dtype='object')

In [13]:
# Another important thing we can do is to set up any specific index
# these act as row labels
df = pd.DataFrame(data, index=['A', 'B', 'C', 'D'])
df

     Name  Age Country
A  Amelie   24      FR
B   Edgar   27      FR
C  Carlos   22      ES
D  Victor   32      GE

In [14]:
# Similar to lists and arrays, we can slice
df[:2]

     Name  Age Country
A  Amelie   24      FR
B   Edgar   27      FR

In [15]:
# Similar to lists and arrays, we can also access elements making use of loc and iloc
df.loc['B':'D']

     Name  Age Country
B   Edgar   27      FR
C  Carlos   22      ES
D  Victor   32      GE

In [16]:
# We can access elements using loc and iloc
df.iloc[1:]

     Name  Age Country
B   Edgar   27      FR
C  Carlos   22      ES
D  Victor   32      GE

In [17]:
# We can also access element attributes by using at
df.at[0, 'Age']

KeyError: 0

In [ ]:
# if we wanted to do it with iloc, we would need to pass positions
df.iloc[0,1]

In [ ]:
# Important: to modify a specific value we can use at, loc and iloc
df.loc['B', 'Age'] = 123
df

In [ ]:
# we can also check what elements satisfy some criteria by column (attribute)
df['Age'] > 25

In [ ]:
# and show them
df[df['Age'] > 25]

In [ ]:
# or modify a simple attribute of those that satisfy certain condition
df.loc[df['Age'] > 25, 'Name'] = 'Unknown' # df.iloc[df['Age'] > 25, 0] = 'Unknown'
df

In [ ]:
# we can also, similar to the way we do with dicts, add new columns
df['Residency'] = [True, False, True, False]

In [ ]:
# or add new elements
df.loc[6] = ['Jordi', 23, 'ES', False]
df.loc[9] = ['Anna', 19, 'ES', False]
df

In [ ]:
# There are other methods one can also call
df.head(2)

In [ ]:
# There are other methods one can also call
df.tail(2)

In [ ]:
df.shape # to get the dataframe shape

In [ ]:
df.dtypes

In [ ]:
df['Age'].astype('float')

In [ ]:
# Same as numpy, we can find the unique method
df['Country'].unique()

## Pandas I

Among the different methods two important ones are **info** and **describe**:

In [ ]:
df.info()

In [ ]:
df.describe()

## Pandas I

And how do we know about missing elements and handle them?

In [ ]:
# What about missing values? Missing values are usually represented as NaN (Not a Number)
import numpy as np
data = {'Name': ['Amelie', 'Edgar', 'Carlos', 'Victor'],
        'Age': [24, 27, 22, 32],
        'Country': ['FR', np.nan, 'ES', 'GE']}
df = pd.DataFrame(data)
df

In [ ]:
# we can simply know which ones present missing values by using isna or isnull
df.isna() # at the whole dataframe level

In [ ]:
# and at the column level
df['Country'].isnull() # same as .isna()

In [ ]:
# Simple way of filling these ones is achieved by calling fillna
df.fillna('RE')

In [ ]:
# There's also possible thing you can do, use the mode (most common value)
#df['Country'].mode()
df.fillna(df['Country'].mode()[0])

In [ ]:
# IMPORTANT: if we check again the dataframe, we will see that the dataframe keeps having NaNs
# This is because the intented behaviour is usually to keep the DataFrame immutable
# If you want to actually modify you can pass ot fillna, inplace=True
df

In [ ]:
# A more drastic operation is to drop any column or row with missing values using
# here, we will modify the original dataframe and drop the rows and cols with nans
df.at[0, 'Age'] = np.nan
df

In [ ]:
df.dropna()

## Pandas I

One of the handy tools you have in **Pandas** is **groupby**. It allows you to group by any unique attributes within a column and get statistics:
- count
- mean
- sum
- min and max
- multiple aggregations
- group using multiple columns

In [ ]:
data = {
    'Name': ['Amelie', 'Edgar', 'Carlos', 'Victor', 'Sofia', 'Jin', 
             'Marta', 'Ali', 'Emily', 'Ravi', 'Chen', 'Fatima', 'Saham'],
    'Age': [24, 27, 22, 32, 29, 31, 28, 26, 23, 34, 25, 30, 26],
    'Country': ['FR', 'US', 'ES', 'GE', 'PT', 'KR',
                'ES', 'AE', 'US', 'IN', 'CN', 'AE', 'AE'],
    'Salary': [70000, 110000, 65000, 82000, 48000, 39000, 45000,
            90000, 97000, 31000, 49000, 85000, 80000]   
}

df = pd.DataFrame(data)
df

In [ ]:
# let's count how many we have per country
df.groupby('Country').count()

In [ ]:
df.groupby('Country')['Age'].mean() # now let's know the average age per country

In [ ]:
df.groupby('Country')['Salary'].sum() # total sum of their salaries

In [ ]:
#Â Multiple Aggregations
df.groupby('Country').agg({'Salary': ['min', 'max'], 'Age': 'mean'})

In [ ]:
# grouping using more than one column
df.groupby(['Country', 'Age'])['Salary'].count()

## Pandas I

Let's load *Netflix* titles and do some exercices

In [12]:
# Download from Moodle the zip file containing the netflix dataset
path = 'netflix_titles.csv'

df = pd.read_csv(path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [ ]:
df.columns

## Pandas I
Let's do the following exercices:

1. Count Missing Values in Each Column

2. Fill Missing 'country' Values with "Unknown"

3. Filter for TV Shows Only

4. Count the Number of Entries per Rating

5. Add a Column Showing Content Age (how many years since it came out)

In [58]:

# Missing values
missing_values = df.isnull().sum()
print("Missing Values in Each Column:\n", missing_values)

# Fill missing countries with ' Unkown'
df['country'].fillna('Unkown')

# Filter on TV Shows
df[df['type']=='TV Show']

# Number of entries per rating
df.groupby('rating').count()

# Get the current year
from datetime import datetime
current_year = datetime.now().year

# Calculate 'Content Age' as the difference between the current year and the release year
df['Content Age'] = current_year - df['release_year']

print(df)

Missing Values in Each Column:
 show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
Content Age        0
dtype: int64
     show_id     type                  title         director  \
0         s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1         s2  TV Show          Blood & Water              NaN
2         s3  TV Show              Ganglands  Julien Leclercq
3         s4  TV Show  Jailbirds New Orleans              NaN
4         s5  TV Show           Kota Factory              NaN
...      ...      ...                    ...              ...
8802   s8803    Movie                 Zodiac    David Fincher
8803   s8804  TV Show            Zombie Dumb              NaN
8804   s8805    Movie             Zombieland  Ruben Fleischer
8805   s8806    Movie                   Zoom     Peter Hewitt
8806   s8807    Movie                 Zubaan      Mozez Singh

                                                   cast        country  \
0                                                   NaN  United States
1     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2     Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                   NaN            NaN
4     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India
...                                                 ...            ...
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...  United States
8803                                                NaN            NaN
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India

              date_added  release_year rating   duration  \
0     September 25, 2021          2020  PG-13     90 min
1     September 24, 2021          2021  TV-MA  2 Seasons
2     September 24, 2021          2021  TV-MA   1 Season
3     September 24, 2021          2021  TV-MA   1 Season
4     September 24, 2021          2021  TV-MA  2 Seasons
...                  ...           ...    ...        ...
8802   November 20, 2019          2007      R    158 min
8803        July 1, 2019          2018  TV-Y7  2 Seasons
8804    November 1, 2019          2009      R     88 min
8805    January 11, 2020          2006     PG     88 min
8806       March 2, 2019          2015  TV-14    111 min

                                              listed_in  \
0                                         Documentaries
1       International TV Shows, TV Dramas, TV Mysteries
2     Crime TV Shows, International TV Shows, TV Act...
3                                Docuseries, Reality TV
4     International TV Shows, Romantic TV Shows, TV ...
...                                                 ...
8802                     Cult Movies, Dramas, Thrillers
8803             Kids' TV, Korean TV Shows, TV Comedies
8804                            Comedies, Horror Movies
8805                 Children & Family Movies, Comedies
8806     Dramas, International Movies, Music & Musicals

                                            description  Content Age
0     As her father nears the end of his life, filmm...            4
1     After crossing paths at a party, a Cape Town t...            3
2     To protect his family from a powerful drug lor...            3
3     Feuds, flirtations and toilet talk go down amo...            3
4     In a city of coaching centers known to train I...            3
...                                                 ...          ...
8802  A political cartoonist, a crime reporter and a...           17
8803  While living alone in a spooky town, a young g...            6
8804  Looking to survive in a world taken over by zo...           15
8805  Dragged from civilian life, a former superhero...           18
8806  A scrappy but poor boy worms his way into a ty...            9

[8807 rows x 13 columns]

## Pandas I

Let's now load the *Titanic* dataset and practice a little bit more:

1. Count the Missing Values in Each Column

2. Fill Missing 'Age' Values with the Mean Age

3. Fill Missing 'Embarked' Values with the Mode (Most Common Value)

4. Filter and Display Passengers Who Paid a Fare Above the Average Fare

5. Add a New Column Indicating Family Size. Create a new column 'FamilySize' as the sum of 'SibSp' (siblings/spouses) and 'Parch' (parents/children)

In [40]:

import pandas as pd
path = '/Users/marioscontopoulos/Downloads/train_and_test2.csv'
dt = pd.read_csv(path)

# Count the Missing Values
missing_values = dt.isnull().sum()
print("Missing Values in Each Column:\n", missing_values)

# Fill missing Age with mean
mean_age = dt['Age'].mean()
dt['Age']=dt['Age'].fillna(mean_age)
print("\nFilled missing 'Age' values with mean:", mean_age)

# Fill Missing Embarked with the Mode
mode_embarked = dt['Embarked'].mode()[0]
dt['Embarked']=dt['Embarked'].fillna(mode_embarked)
print("\nFilled missing 'Embarked' values with mode:", mode_embarked)

# Passengers who paid more than average
average_fare = dt['Fare'].mean()
high_fare_passengers = dt[dt['Fare'] > average_fare]
print("\nPassengers Who Paid Above the Average Fare:\n", high_fare_passengers)

# New Column for family size
df['FamilySize'] = dt['sibsp'] + dt['Parch']
print("\nAdded 'FamilySize' column indicating total family members on board.")

print(df.head())

Missing Values in Each Column:
 Passengerid    0
Age            0
Fare           0
Sex            0
sibsp          0
zero           0
zero.1         0
zero.2         0
zero.3         0
zero.4         0
zero.5         0
zero.6         0
Parch          0
zero.7         0
zero.8         0
zero.9         0
zero.10        0
zero.11        0
zero.12        0
zero.13        0
zero.14        0
Pclass         0
zero.15        0
zero.16        0
Embarked       2
zero.17        0
zero.18        0
2urvived       0
dtype: int64

Filled missing 'Age' values with mean: 29.50318563789152

Filled missing 'Embarked' values with mode: 2.0

Passengers Who Paid Above the Average Fare:
       Passengerid   Age      Fare  Sex  sibsp  zero  zero.1  zero.2  zero.3  \
1               2  38.0   71.2833    1      1     0       0       0       0
3               4  35.0   53.1000    1      1     0       0       0       0
6               7  54.0   51.8625    0      0     0       0       0       0
23             24  28.0   35.5000    0      0     0       0       0       0
27             28  19.0  263.0000    0      3     0       0       0       0
...           ...   ...       ...  ...    ...   ...     ...     ...     ...
1293         1294  22.0   59.4000    1      0     0       0       0       0
1294         1295  17.0   47.1000    0      0     0       0       0       0
1298         1299  50.0  211.5000    0      1     0       0       0       0
1302         1303  37.0   90.0000    1      1     0       0       0       0
1305         1306  39.0  108.9000    1      0     0       0       0       0

      zero.4  ...  zero.12  zero.13  zero.14  Pclass  zero.15  zero.16  \
1          0  ...        0        0        0       1        0        0
3          0  ...        0        0        0       1        0        0
6          0  ...        0        0        0       1        0        0
23         0  ...        0        0        0       1        0        0
27         0  ...        0        0        0       1        0        0
...      ...  ...      ...      ...      ...     ...      ...      ...
1293       0  ...        0        0        0       1        0        0
1294       0  ...        0        0        0       1        0        0
1298       0  ...        0        0        0       1        0        0
1302       0  ...        0        0        0       1        0        0
1305       0  ...        0        0        0       1        0        0

      Embarked  zero.17  zero.18  2urvived
1          0.0        0        0         1
3          2.0        0        0         1
6          2.0        0        0         0
23         2.0        0        0         1
27         2.0        0        0         0
...        ...      ...      ...       ...
1293       0.0        0        0         0
1294       2.0        0        0         0
1298       0.0        0        0         0
1302       1.0        0        0         0
1305       0.0        0        0         0

[304 rows x 28 columns]

Added 'FamilySize' column indicating total family members on board.
     Name  Age Country  FamilySize
A  Amelie   24      FR         NaN
B   Edgar   27      FR         NaN
C  Carlos   22      ES         NaN
D  Victor   32      GE         NaN

## Pandas I

Home exercises for Netflix:

1. Is there any missing rating?
2. How many films in 2021 correspond to your country?
3. What's the number of movies in 2020 with full information?
4. Give me the year with more titles,
5. and what has been the average in terms of releases from 2010. 

And for Titanic:

1. Calculate Gender-Based Survival Percentage

2. Calculate Survival Percentage Grouped by Gender and Class

In [61]:
import pandas as pd

# Load Netflix dataset
path = 'netflix_titles.csv'

df = pd.read_csv(path)


# Check if there are any missing values
missing_ratings = df['rating'].isnull().sum()
print("Number of missing ratings:", missing_ratings)

# Films from 2021 from Cyprus
Cyprus2021_count = df[(df['release_year'] == 2021) & (df['country'] == 'Cyprus')].shape[0]
print(f"Number of films from 2021 in Cyprus:", Cyprus2021_count)

# Movies from 2020 with full information 
full_info_2020 = df[(df['release_year'] == 2020) & df.notnull().all(axis=1)].shape[0]
print("Number of movies from 2020 with full information:", full_info_2020)

# The year with the most titles
most_titles_year = df['release_year'].value_counts().idxmax()
most_titles_count = df['release_year'].value_counts().max()
print(f"The year with the most titles is {most_titles_year} with {most_titles_count} titles.")

# Average number of releases per year from 2010
recent_years = df[df['release_year'] >= 2010]
average_releases = recent_years['release_year'].value_counts().mean()
print("Average number of releases from 2010 onwards:", average_releases)

# Survival percentage on Gender
survivalM_count=len(dt[(dt['2urvived']==1)&(dt['Sex']==0)])/len(dt)*100
print("Survival percentage for Male is:", survivalM_count,"%")

survivalF_count=len(dt[(dt['2urvived']==1)&(dt['Sex']==1)])/len(dt)*100
print("Survival percentage for Female is:", survivalF_count,"%")

# Survival percentage on Gender and Class
# First, check how many classes we have
print(dt['Pclass'].unique())

# Male
# Assuming that Sex=0 is Male
survivalM_class1_count=len(dt[(dt['2urvived']==1)&(dt['Sex']==0)&(dt['Pclass']==1)])/len(dt)*100
print("Survival percentage for Male (Class1) is:", survivalM_class1_count,"%")
survivalM_class2_count=len(dt[(dt['2urvived']==1)&(dt['Sex']==0)&(dt['Pclass']==2)])/len(dt)*100
print("Survival percentage for Male (Class2) is:", survivalM_class2_count,"%")
survivalM_class3_count=100-survivalM_class1_count-survivalM_class2_count
print("Survival percentage for Male (Class3) is:", survivalM_class3_count,"%")

# Female
# Assuming that Sex=1 is Female
survivalF_class1_count=len(dt[(dt['2urvived']==1)&(dt['Sex']==1)&(dt['Pclass']==1)])/len(dt)*100
print("Survival percentage for Female (Class1) is:", survivalF_class1_count,"%")
survivalF_class2_count=len(dt[(dt['2urvived']==1)&(dt['Sex']==1)&(dt['Pclass']==2)])/len(dt)*100
print("Survival percentage for Female (Class2) is:", survivalF_class2_count,"%")
survivalF_class3_count=100-survivalF_class1_count-survivalF_class2_count
print("Survival percentage for Female (Class3) is:", survivalF_class3_count,"%")

Number of missing ratings: 4
Number of films from 2021 in Cyprus: 0
Number of movies from 2020 with full information: 442
The year with the most titles is 2018 with 1147 titles.
Average number of releases from 2010 onwards: 622.6666666666666
Survival percentage for Male is: 8.326967150496563 %
Survival percentage for Female is: 17.79984721161192 %
[3 1 2]
Survival percentage for Male (Class1) is: 3.437738731856379 %
Survival percentage for Male (Class2) is: 1.2987012987012987 %
Survival percentage for Male (Class3) is: 95.26355996944231 %
Survival percentage for Female (Class1) is: 6.951871657754011 %
Survival percentage for Female (Class2) is: 5.347593582887701 %
Survival percentage for Female (Class3) is: 87.70053475935829 %